h2{
    background-color: rgb(254, 124, 24);
    color: rgb(5, 5, 5);
    width: 300px;
    
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 5px black;
}
